.nav-img{
    max-width: 250px;
}
.navbar>li{
gap: 10px;
}

.nav-dropdown{
    margin-left: 80px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.heading{
    margin-top: 80px;
}
.but-1{
    background-color: #9b51e0; 
}
.gri-4{
    background-color: #9b51e0; 
}
.gri-1{
    background-color: #9b51e0; 
    color: white;
}
.images{
    background-color:  rgb(152, 150, 240);
}
.gri-2{
    rgb(169, 184, 195) 100%
}